// ==========================================================================
// `VARS `MIXINS etc
// Setup the dynamic bits in here
// ========================================================================== */

// Colors:
$midtone:   ;
$midtone_l: ;
$midtone_d: ;

$brand_clr:     ;
$brand_clr_alt: ;

$text_clr:  ;

// Breakpoints:
$break_s:  ;
$break_m:  ;
$break_l:  ;
$break_lx: ;

// Fonts:
$fonts_base: ;
$fonts_brand: $fonts_base;