// SETUP THE BASICS:
@import "_intro";           // (Attribution)
@import "_utils";           // (Scss Utilities like media-queries)
@import "_vars";            // (Scss Variables, Theme mixins, etc...)
@import "_normalize";       // (Like a reset)
@import "_root";            // (Setup box-sizing & html + body behavior)
@import "_typography";      // (Base typography)

// GLOBAL PIECES:
@import "_base";            // (Opinionated defaults)
@import "_objects";         // (Re-usable patterns: nav flyouts, pagination, etc)
@import "_components";      // (Global pieces of site: header content, etc)
@import "_global-theme";    // (Global theming of structure: header, main & footer bg's, etc)
@import "_layout";          // (Layout structure)

// CONTENT:
@import "_modules";         // (Content modules)
// Page specific styles:
// @import "_mypage";

// END WITH UTILITY HELPERS:
@import "_helpers";
@import "_print";
