/* _________________________________________________

For: 
Original Author: 
URL: 

Thanks to: Ethan Marcotte, HTML5BoilorPlate.com & 320andUp
____________________________________________________

`GLOSSARY`:

  NORMALIZE (instead of reset)

  ROOT
  TYPOGRAPHY
  BASE STYLES
    -LINKS
    -FIGURES & IMAGES
    -TABLES
    -FORMS
  STRUCTURE
    -HEADER
    -FOOTER
    -MAIN STRUCTURE
  GENERAL CONTENT
  ...
  MEDIA QUERIES
  UTILITY CLASSES
  PRINT QUERIES

`COLOURS`:
  colorname : #value ;

____________________________________________________ */

